* {
  box-sizing: border-box; }

img {
  width: 20vw; }

.navbar img {
  width: 40px; }

.navbar button {
  padding: 7px; }

li {
  margin: 7px; }

.coolFont {
  font-family: 'Press Start 2P', cursive;
  font-size: 120px;
  color: black;
  opacity: .5; }

#homePage {
  margin-top: 80px;
  font-family: 'Press Start 2P', cursive; }
  #homePage img {
    margin-left: 180px; }
  #homePage button {
    margin-top: 30px; }
  #homePage h1 {
    font-size: 120px;
    color: black;
    opacity: .5; }
  #homePage h3 {
    font-size: 50px;
    padding-top: 150px;
    color: black;
    opacity: .6; }

.middle-left-section {
  padding-top: 80px; }
  .middle-left-section img {
    background: #7A4FBC;
    border-radius: 10px; }
